body{
    text-align: center;
}

button{
    width: 200px;
    height: 45px;
    border-radius: 8px;
}

button:hover{
    transform: scale(101%);
}

div{
    width: 60%;
    height: 40vh;
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    left: 20%;
    top: 30%;
    box-shadow: 4px 4px 4px black;
}